###############################################################################
# LOCALHOST.CFG - SAMPLE OBJECT CONFIG FILE FOR MONITORING THIS MACHINE
#
#
# NOTE: This config file is intended to serve as an *extremely* simple
#       example of how you can create configuration entries to monitor
#       the local (Linux) machine.
#
###############################################################################




###############################################################################
###############################################################################
#
# HOST DEFINITION
#
###############################################################################
###############################################################################

# Define a host for the local machine

define host{
    use                     linux-server            ; Name of host template to use
                                                    ; This host definition will inherit all variables that are defined
                                                    ; in (or inherited by) the linux-server host template definition.
    host_name               localhost
    alias                   localhost
    address                 127.0.0.1
    icon_image              docker.png     ; logo for Docker
    notes                   This is the local nagios docker container (some addnl information)
}



###############################################################################
###############################################################################
#
# SERVICE DEFINITIONS
#
###############################################################################
###############################################################################


# Define a service to "ping" the local machine

define service{
use                     local-service,graphed-service         ; Name of service template to use
hostgroup_name          linux-servers
service_description     PING
check_command			check_ping!100.0,20%!500.0,60%
}


# Define a service to check the disk space of the root partition
# on the local machine.  Warning if < 20% free, critical if
# < 10% free space on partition.

define service{
use                     local-service,graphed-service         ; Name of service template to use
host_name          localhost
service_description     Root Partition
check_command			check_local_disk!20%!10%!/
}






# Define a service to check the number of currently running procs
# on the local machine.  Warning if > 250 processes, critical if
# > 400 users.


define service{
use                             local-service,graphed-service         ; Name of service template to use
host_name                  localhost
service_description             Total Processes
check_command			check_local_procs!250!400!RSZDT
}





# Define a service to check the swap usage the local machine.
# Critical if less than 10% of swap is free, warning if less than 20% is free

define service{
use                             local-service,graphed-service         ; Name of service template to use
host_name                  localhost
service_description             Swap Usage
check_command			check_local_swap!20!10
}



# Define a service to check HTTP on the local machine.
# Disable notifications for this service by default, as not all users may have HTTP enabled.

define service{
use                             local-service,graphed-service         ; Name of service template to use
host_name                       localhost
service_description             HTTP
check_command			check_http
notifications_enabled		0
}



