/* Global */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #1d253b;
}

.navbar {
    height: 60px;
    line-height: 60px;
    background: linear-gradient(90deg, rgb(0, 66, 137) 0%, rgb(0, 133, 202) 100%);
}

.navbar p {
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    /* margin-left: calc(57px + 0.5rem); */
    margin-left: 1rem;
    font-size: 0.735rem;
}

.content-wrapper {
    padding: 0 1rem;
}

h1 {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 20px;
}

h3 {
    
    padding-bottom: 3px;
    font-weight: 400;
    font-size: 1.1375rem;
}

p {
    padding-bottom: 35px;
    font-size: 0.875rem;
    font-weight: 300;
}

.content-wrapper-svg-container-small {
    display: flex;
    justify-content: center;
}

.content-wrapper-svg-container {
    display: none;
    justify-content: center;
    align-items: center;
}

.content-wrapper-text-container {
    margin-bottom: 32px;
}

svg {
    max-width: 450px;
}

a {
    color: #004289;
    font-weight: 300;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #1d8cf8;
}

button {
    color: #1d8cf8;
    border: none;
    overflow: hidden;
    border-radius: 0.4285rem;
    transition: all 0.35s ease;
    display: inline-block;
    font-weight: 600;
    padding: 11px 40px;
    font-size: 0.875rem;
    background: transparent;
    line-height: 1.35em;
    cursor: pointer;
    width: 100%;
    max-width: 400px;
}

button:hover {
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img {
    max-width: 180px;
}

@media only screen and (min-width: 1200px) {
    button {
        width: unset;
    }
    .content-wrapper.permission {
        padding: 5vh 10rem;
        display: flex;
    }
    .content-wrapper-svg-container-small.permission{
        display: none;
    }
    .navbar p {
        font-size: 0.935rem;
        margin-left: calc(57px + 0.5rem);
    }

    .content-wrapper-text-container.permission {
        width: 60%;
        text-align: left !important;
        align-items: unset !important;
    }

    .content-wrapper-svg-container.permission {
        width: 40%;
        display: flex;
    }

    footer {
        flex-direction: row;
    }
    img {
        max-width: unset;
    }
    
}

    @media only screen and (min-width: 1600px) {
        .content-wrapper.permissions {
            padding: 6vh 12rem;
        }
    }